UI vesamenu.c32
PROMPT 0
TIMEOUT 100
ONTIMEOUT live

MENU TITLE AuraOS 1.0
MENU BACKGROUND splash.png
MENU COLOR TITLE    1;36;40  #FF2E6FD9 #00000000 none
MENU COLOR SEL      7;37;40  #FF0D3A8A #FF7EB8F7 none
MENU COLOR UNSEL    37;40    #FFFFFFFF #00000000 none
MENU COLOR BORDER   30;40    #FF2E6FD9 #00000000 none
MENU COLOR TABMSG   31;40    #FFCCCCCC #00000000 none

LABEL live
    MENU LABEL AuraOS - Avvia senza installare
    MENU DEFAULT
    LINUX /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live components locales=it_IT.UTF-8 keyboard-layouts=it timezone=Europe/Rome hostname=auraos username=user quiet splash
    TEXT HELP
      Prova AuraOS senza modificare il tuo computer.
    ENDTEXT

LABEL install
    MENU LABEL Installa AuraOS sul computer
    LINUX /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live components locales=it_IT.UTF-8 keyboard-layouts=it timezone=Europe/Rome hostname=auraos username=user quiet splash auraos.mode=install
    TEXT HELP
      Installa AuraOS sul disco fisso del computer.
    ENDTEXT

LABEL safe
    MENU LABEL Modalita' provvisoria (schermo problematico)
    LINUX /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live components locales=it_IT.UTF-8 keyboard-layouts=it timezone=Europe/Rome nomodeset
    TEXT HELP
      Usa questa opzione se lo schermo non si vede bene.
    ENDTEXT
